/*-------------------
| palette:					|
| orangered	#FF4500 |
| jet black	#000000 |
| slategray	#1D1F21 |
| white			#FFFFFF |
| orange		#FF8C00 |
| lightgray	#EBEBEA |
-------------------*/

@font-face {
	font-family: basica;
	src: url(./Basica_V.ttf);
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: jura;
}

/*- HEADER --------------------------*/
	header ul{
		list-style-type: none;

		display: inline-flex;
		flex-direction: row;

		margin: 0;
		padding: 5px 0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 50px;

		background-color: white;
		border-bottom: solid 1px black;
	}

	header ul li{
		font-family: basica;
		font-size: 40px;
		font-weight: normal;

		color: black;
		text-align: center;
		border: 0;
	}

	header ul li img{
		height: 40px;
		padding: 4px 10px;
		vertical-align: baseline;
	}

	header ul li a i{
		font-size: 35px;
		color: black;
		text-decoration: none;
		padding: 0 10px;
		vertical-align: middle;
	}


/*- SIDEBAR -------------------------*/
	nav{
		position: fixed;
		width: 30%;
		right: 0;
		background-color: white;
	}

	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		color: black;
	}

	nav ul li.active{
		background-color: #EBEBEA;
		color: #FF4500;
	}

	nav ul li:hover:not(.active) {
		background-color: #FF8C00;
		color: white;
	}

	nav ul li a{	
		font-size: 1.25em;
		padding: 10px;
		display: block;
		color: inherit;
		text-align: center;
		border-bottom: dashed 1px #EBEBEA;
		text-decoration: none;
		
	}

	nav ul li.active a{
		font-weight: bolder;
	}



/*- CONTENT ----------------------*/
	main { 
		padding: 30px;
		font-size: 1em;
		width: 70%;
		min-height: 524px;

		word-wrap: break-word;
		text-align: justify;
		left: 0;
		animation: fadein 2s;
	}

	main h2 {
		color: #FF8C00;
		margin: 10px;
	}

	main p {
		margin: 10px;
		text-indent: 20px;
	}

	main p b {
		color: #FF4500;
		font-weight: normal;
	}

	main p a {
		color: #FF4500;
	}

	main p a:visited {
		color: #FF8C00;
	}

	main p a:hover {
		color: #999999;
	}

	main img {
		max-width: 100%;
		height: auto;
	}

	main form {
		width: 90%;
		margin: 5%;
		padding: 30px;
		border: solid 1px #999999;
	}

	main div.container {
		width: 100%;
		display: inline-flex;
	}

	main div.element {
		display: inline-block;
	}

	main div.element label {
		color: #FF4500;
		font-weight: bold;
	}

	main div.element textarea {
		flex-grow: 99;
		resize: none;
	}

	div.group {
		padding-bottom: 20px;
	}

	input[type=submit] {
		background-color: #FF8C00;
		border: none;
		color: white;
		font-size: 1em;
		font-family:'jura';
		font-weight: bold;
		height: 50px;
		border-radius: 2px;
		width: 100%;
		margin-top: 10px;
	}

	input[type=text], textarea{
		color: #1D1F21;
		border: none;
		border: solid 1px #EBEBEA;
		box-shadow: none;
		font-family:monospace;
		font-size: 1em;
		width: 100%;
		padding: 5px;
	}

	input[type=text]:focus, textarea:focus {
		border: solid 1px #EBEBEA;
		color: #1D1F21;
	}

	input[type=text]:invalid, textarea:invalid {
		border-color: #FF8C00; 
	}


.content {
	margin-top: 50px;
	font-family: 'jura'
}

@media screen and (max-width: 600px) {
	nav {
		width: 100%;
		position: unset;
		height: unset;
	}

	nav div{
		display: none;
	}

	main {
		width: 100%;
		position: unset;
		margin: 0;
	}
}

@media screen and (max-height: 600px) {
	nav {
		width: 100%;
		position: unset;
		height: unset;
	}

	nav div{
		display: none;
	}

	main {
		width: 100%;
		position: unset;
		margin: 0;
	}
}



